* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* Common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  width: 104px;
  height: 44px;
  background: #2e80ce;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.section-heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: #10375c;
  margin-bottom: 18px;
}

.section-desc {
  margin: 0 auto 70px auto;
  width: 468px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: #575f66;
}
/* Header */
.header {
  min-height: 100vh;
  background: var(--header-bg);
}

.header-top {
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
}
.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}
.logo__text {
  text-align: right;
  line-height: 1.6em;
}
.logo__brand {
  font-size: 1.8em;
  font-weight: 400;
  margin-left: 0.6em;
  color: #fff;
  display: block;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
}

.navbar__link {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 28px;
  text-align: center;
  color: #c9d2da;
  text-decoration: none;
}

.navbar__link:hover {
  font-size: 1.8rem;
  color: #ffffff;
}

.header_btn {
  display: flex;
  align-items: center;
  width: 200px;
}

.btn__login {
  margin-right: 15px;
}

.hero {
  padding-top: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  width: 517px;
  height: 420px;
}

.hero__heading {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 7rem;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero__desc {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  color: #c9d2da;
  margin-bottom: 38px;
}

.hero__row {
  display: flex;
  align-items: center;
}
.hero__btn {
  margin-right: 34px;
  width: 205px;
  height: 60px;
  background: #2e80ce;
  border-radius: 30px;
  font-weight: 400;
  font-size: 1.8rem;
  color: #ffffff;
}

.hero__phone {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  color: #ffffff;
}

.hero__images {
  position: relative;
  display: flex;
  align-items: center;
}

.hero__media .hero__img:last-child {
  left: -25px;
  z-index: 1;
}

/* Services */

.services {
  padding: 130px 0px;
}

.services-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-image {
  width: 570px;
  height: 570px;
  border-radius: 12px;
}

.services-items {
  margin: 15px 0;
  display: flex;
  align-items: center;
  width: 470px;
  height: 128px;
  background: #ffffff;
  border-radius: 10px;
}

.services-items:hover {
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.1);
}

.services__item--icons {
  margin: 0 19px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #2e80ce;
  box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
  border-radius: 30px;
}

.services__item--body {
  width: 308px;
}

.services__item-heading {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  color: #10375c;
}

.services__item--desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: #575f66;
}

.services-btn {
  margin-top: 35px;
  width: 205px;
  height: 60px;
  font-weight: 400;
  font-size: 1.8rem;
  color: #ffffff;
  background: #2e80ce;
  color: #fff;
  border-radius: 30px;
}

/* work */
.work {
  align-items: center;
  height: 826px;
  background: #e4ebf2;
}
.work .section-heading {
  padding-top: 100px;
}
.work .section-heading,
.work .section-desc {
  margin-left: 0;
  text-align: start;
}

.work-list {
  display: flex;
  margin-top: 70px;
  gap: 30px;
}

.work-item {
  width: 400px;
  padding: 43px 48px;
  height: 370px;
  background: #ffffff;
  border-radius: 8px;
  border: #eaf6ff solid 16px;
}
.work-item:hover {
  border: #2e80ce solid 16px;
}
.work-item:hover a {
  font-weight: 600;
  color: #2e80ce;
}

.work_icons {
  width: 72px;
  height: 72px;
}

.work--item__title {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 36px;
  color: #10375c;
  margin: 23px 0 28px 0;
}

.work--item__desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 28px;
  color: #575f66;
}

.work-item a {
  text-decoration: none;
  margin-top: 18px;
  line-height: 28px;
}

/* feature */
.feature {
  width: 100%;
  padding: 170px 0 75px 0;
}

.feature .container {
  display: flex;
  justify-content: space-between;
}

.feature-image {
  position: relative;
}

.feature-img:first-child {
  position: absolute;
  width: 512px;
  height: 370px;
  filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
  border-radius: 6px;
}

.feature-img:last-child {
  position: absolute;
  width: 332px;
  height: 370px;
  top: 121px;
  left: 238px;
  border-radius: 6px;
}

.feature-content {
  height: 100%;
  width: 468px;
}

.feature-heading {
  padding-top: 82px;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #10375c;
}

.feature-desc {
  margin-bottom: 38px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #575f66;
}

.feature-btn {
  margin-bottom: 125px;
  width: 205px;
  height: 60px;
  font-size: 1.8rem;
  line-height: 30px;
  background: #2e80ce;
  color: #fff;
  border-radius: 30px;
}

/* dentist */

.dentist .btn {
  margin-top: 38px;
  margin-bottom: 70px;
  width: 205px;
  height: 60px;
  border-radius: 30px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #ffffff;
}

.dentist-list {
  display: flex;
  justify-content: space-between;
}

.dentist-img {
  width: 270px;
  height: 318px;
  background: #eaf6ff;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
}

.dentist-name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.75;
  text-align: center;
  color: #081828;
}

.dentist-desc {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #575f66;
}

.control-btn {
  display: flex;
  justify-content: center;
}

.control--btn:first-child {
  margin-right: 18px;
  background: #e5e5e5;
  width: 45px;
  height: 45px;
  border: 1px solid #575f66;
}

.control--btn:last-child {
  width: 45px;
  height: 45px;
}

/* install */
.install {
  margin: 150px 0;
}

.inner {
  display: flex;
  align-items: center;
  padding: 0px 70px;
  width: 1170px;
  height: 427px;
  background: #2e80ce;
  border-radius: 4px;
}

.install__img {
  margin-top: -95px;
  object-fit: cover;
  top: -95px;
  left: 70px;
  width: 284px;
  height: 522px;
}

.install__content {
  width: 50%;
  margin-left: 160px;
}

.install .section-heading {
  width: 489px;
  margin-bottom: 18px;
  text-align: left;
  color: #ffffff;
}

.install .section-desc {
  margin-bottom: 40px;
  width: 586px;
  padding-right: 70px;
  text-align: left;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  color: #ffffff;
}

.install-row {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  width: 290px;
}

.three-line-paragraph {
  border: 1px solid #cc0000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

/* news */
.news {
  margin-bottom: 150px;
}
.news-row {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}

.news-content {
  width: 470px;
}
.news-heading {
  font-weight: 600;
  font-size: 5rem;
}

.news-more {
  display: inline-block;
  color: #10375c;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 18px 0px;
}

.news .control-btn {
  justify-content: flex-start;
}

.news-items {
  border: #bfc4c9 solid 1px;
  border-radius: 8px;
}
.news--img {
  width: 100%;
  height: 174px;
}

.news--items__heading {
  padding: 5px 18px;
  font-weight: 600;
  line-height: 26px;
  font-size: 1.6rem;
  color: #10375c;
}

.news--items__desc {
  padding: 5px 18px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 24px;
}

.news--items__more {
  display: block;
  text-decoration: none;
  padding: 15px 18px;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #051625;
}

.news--items__more:hover {
  color: blue;
}

/* .appointment */

.appointment .container {
  background: #f6fbff;
  padding: 80px 150px;
  margin-bottom: 100px;
}

.appointment .section-desc {
  margin-bottom: 35px;
  width: 617px;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
}

.appointment-btn {
  width: 205px;
  height: 60px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer {
  padding: 90px 0;
  background: #10375c;
}
.footer-row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  gap: 50px;
}

.footer-desc {
  width: 336px;
  font-family: Sans;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #a9b3bb;
  padding-top: 20px;
}



.footer--col__heading {
  font-family: Sans;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #fff;
  margin: 10px 0;
}

.footer-col__items {
  display: block;
  font-family: Sans;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin: 15px 0;
  color: #A9B3BB;
  text-decoration: none;
}

.footer--col__desc {
  width: 320px;
  font-weight: 400;
  line-height: 26px;
  font-size: 1.6rem;
  color: #A9B3BB;
}
